<div class="post-meta">
    <span class="author">n.n.</span>
    <span class="timestamp" data-time="<%= post.timestamp %>" title="<%= post.timestamp %>">
        <noscript><%= post.timestamp %></noscript>
    </span>
</div>
