<div class="util-position-above-below post-meta">
    <span class="author">auctor ignoratus</span>
    <span class="timestamp" data-time="<%= post.timestamp %>" title="<%= post.timestamp %>">
        <noscript><%= post.timestamp %></noscript>
    </span>
</div>
