<div class="reply">
    <div class="util-position-right">
        <%- include('name.ejs', { post: reply }) %>
    </div>
    <div>
        <%- reply.message %> <!-- Already contains p tags -->
    </div>
</div>
