<% threads.forEach(thread => { %>
    <div class="thread">
        <%- include('originalPost.ejs', { thread }) %>

        <% thread.replies.forEach(reply => { %>
            <%- include('reply.ejs', { reply }) %>
        <% }) %>

        <div class="util-position-right">
            <a href="<%= thread.id %>">...magis</a>
        </div>
    </div>
<% }) %>
