<main class="container">
    <h2>About this site</h2>
    <p>
        This site is entirely in Latin. All writings, all comments, all titles are made only in Latin.
    </p>
    <p>
        It is not necessary to create a username. Anyone can write without a name and propose a new subject or reply to others.
    </p>
    <p>
        If you propose a new subject, the title should be written in the form “de + ablative.” Examples: <em>de libris Columellae</em> (on Columella's books), <em>de hortis</em> (on gardens), <em>de vita rustica</em> (on rustic life).
    </p>
    <p>
        All subjects can be discussed, as long as this is done in Latin. It is permitted not only to speak about Latin literature, but also about domestic matters, nature, your studies, and so on.
    </p>
    <p>
        Mistakes are forgiven: we come here to practice, not to be judged. However, correcting each other is allowed in the spirit of learning.
    </p>
    <p>
        Posts that are stupid, of poor quality, or otherwise of no value can be deleted at the discretion of the administrators.
    </p>
</main>