<main class="container">
    <h2>De hoc loco</h2>
    <p>
        Hic locus totus Latine est. Omnia scripta, omnes commentarii, omnes tituli Latine tantum fiunt.
    </p>
    <p>
        Nomen usoris creare non necesse est. Quisque sine nomine scribere potest et novam quaestionem proponere aut respondere aliis.
    </p>
    <p>
        Si novam quaestionem proponis, titulus scribatur in forma <strong>“de + ablativo”</strong>. Exempla: <em>de libris Columellae</em>, <em>de hortis</em>, <em>de vita rustica</em>.
    </p>
    <p>
        Omnes res tractari possunt, dummodo Latine fiunt. Non solum licet de litteris Latinis loqui, sed etiam de rebus domesticis, de natura, de studiis tuis, et cetera.
    </p>
    <p>
        Erroribus ignoscuntur: huc venimus ut exerceamur, non ut iudicemur. Tamen, invicem corrigere licet in spiritu discendi.
    </p>
    <p>
        Nuntii stulti, sordidi vel alioquin nullius pretii deleri possunt arbitrio administratorum.
    </p>
    <p>
        <a href="/english">Huh? This is all Greek to me.</a>
    </p>
</main>