<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/util.css">
    <script src="/main.js" type="application/javascript"></script>
    <%- include('partials/favicon.ejs', { title }) %>
</head>
<body>
<div id="wrapper">
    <main>
        <h1><a href="/"><%= title %></a></h1>
        <nav class="navbar">
            <span>
                <a href="/">forum</a>
            </span>
            <span>
                <a href="/guide">de hoc loco</a>
            </span>
            <span>
                <a href="/archive">tabularium</a>
            </span>
        </nav>
        <%- body %>
    </main>
</div>
</body>
</html>
