<div class="thread">
    <%- include('partials/originalPost.ejs', { thread }) %>
</div>

<% replies.forEach(reply => { %>
    <%- include('partials/reply.ejs', { reply }) %>
<% }) %>

<form method="POST" action="/addPost" class="reply-form">
    <input type="hidden" name="reply_to" value="<%= thread.id %>">

    <div class="form-group">
        <label for="comment">respondere</label>
        <textarea name="message" id="comment" rows="4" required></textarea>
    </div>

    <button type="submit">mittere</button>
</form>

<p><a href="/">Return</a></p>
