:root {
    --color-bg-main: #f4f1e7;
    --color-bg-input: #fffdf6;
    --color-text: #222;
    --color-border-dark: #444;
    --color-border-light: #aaa;
}

body {
    font-family: 'Georgia', serif;
    background-color: var(--color-bg-main);
    color: #222;
}

#wrapper {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    border: 3px solid var(--color-border-dark);
    margin-top: 2em;
    margin-bottom: 2em;
}

h1, h2 {
    font-weight: normal;
    border-bottom: 2px solid var(--color-border-dark);
    padding-bottom: 0.25em;
    margin-top: 1.5em;
    /*font-variant-caps: all-small-caps;*/
    text-transform: uppercase;
}

.thread, .reply {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--color-bg-input);
}

.thread {
    border: 2px solid var(--color-border-dark);
}

.reply {
    border: 2px solid var(--color-border-light);
}

.thread-title {
    font-weight: bold;
    color: var(--color-text);
    text-transform: uppercase;
}

form .form-row {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 1em;
}

.form-group.grow {
    flex-grow: 1;
}

label {
    font-size: 0.85em;
    margin-bottom: 0.25em;
    color: #555;
}

input, select, textarea, .input-title>span, .input-title>input {
    padding: 0.5em;
}

input, select, textarea, .input-title {
    border: 2px solid var(--color-border-light);
    font-family: inherit;
    font-size: 1em;
    background: #fefefe;
}

/* Hide arrow, it gets squished to the right.
 * TODO: find a nicer solution for this
 */
select {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

.input-title {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.input-title>span {
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.input-title>input {
    border: none;
    outline: none;
    width: 100%;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background: #ddd;
    border: 2px solid var(--color-border-light);
    cursor: pointer;
}

button:hover {
    background: #ccc;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    color: #666;
    margin-bottom: 0.5em;
}
